# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Fyne Package

on:
  push:
    branches: [ "main" ]

jobs:

  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Get Fyne
      run: go install fyne.io/tools/cmd/fyne@latest

    - name: Package
      run: fyne package -os darwin -icon assets/icon.png

    - uses: actions/upload-artifact@v4
      with:
        path: stackitStatus.app
