# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Fyne Package

on:
  push:
    branches: [ "main" ]

jobs:

  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25'

      - name: Run Release Script
        run: hack/tag-release.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}